body {
    background-color: lightgray;
    font-weight: 600;
}

#header-container {
    display: flex;
    justify-content: space-around;
}

.header-text {
    flex: 1;
    vertical-align: middle;
}

.header-pic {
    flex: 1;
    text-align: end;
}

h4 {
    font-size:30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-banner {
    width: 90px;
    height: 90px;
}

#list-head {
    margin-bottom: 10px;
}